<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/styles/diseño.css">
</head>
<body>
    <h1>Editar Producto</h1>
    <form action="/update/<%= producto.id %>" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="<%= producto.nombre %>" required>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" value="<%= producto.tipo %>" required>

        <label for="cantidad">Cantidad:</label>
        <input type="int" id="cantidad" name="cantidad" value="<%= producto.cantidad %>" required>

        <label for="espacio">Espacio:</label>
        <input type="int" id="espacio" name="espacio" value="<%= producto.espacio %>" required>

        <label for="valor">Valor:</label>
        <input type="float" id="valor" name="valor" value="<%= producto.valor %>" required>

        <label for="precio">Precio:</label>
        <input type="float" id="precio" name="precio" value="<%= producto.precio %>" required>

        <label for="caducidad_dias">Caducidad:</label>
        <input type="int" id="caducidad_dias" name="caducidad_dias" value="<%= producto.caducidad_dias %>">

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
